<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{{- block "title" . }}{{ .Site.Title }}{{ end }}</title>
  {{- block "post-meta" . }}
  <meta name="description" content="{{ .Param "metaDescription" }}">
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:title" content="{{ .Site.Title }}">
  <meta property="og:description" content="{{ .Param "metaDescription" }}">
  <meta property="og:image" content="{{ .Site.BaseURL }}img/opengraph-default.jpg">
  <meta property="og:image:height" content="1200">
  <meta property="og:image:width" content="1200">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_US">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="{{ .Param "twitterUsername" }}">
  <meta name="twitter:site:id" content="{{ .Param "twitterUserID" }}">
  <meta name="twitter:creator" content="{{ .Param "twitterUsername" }}">
  <meta name="twitter:creator:id" content="{{ .Param "twitterUserID" }}">
  <meta name="twitter:description" content="{{ .Param "metaDescription" }}">
  <meta name="twitter:title" content="{{ .Site.Title }}">
  <meta name="twitter:image" content="{{ .Site.BaseURL }}img/twitter-default.jpg">
  <meta name="twitter:image:alt" content="Tony Burns">
  <meta name="twitter:image:height" content="400">
  <meta name="twitter:image:width" content="400">
  {{- end }}

  {{- range .Site.Params.links -}}
  <link rel="{{ .rel }}" href="{{ .href }}">
  {{- end -}}
  <link rel="canonical" href="{{ .Permalink }}">

  {{ with .Site.Params.favicon }}
  <link rel="shortcut icon" href="/{{.}}" />
  {{ end }}
  {{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "node_modules/bulma" "node_modules/@fortawesome/fontawesome-free/scss")) }}
  {{ $style := resources.Get "css/main.scss" | toCSS $options | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" />
</head>

<body>
  {{ if not .IsHome }}
  {{ partial "site-header.html" . }}
  <main id="main" aria-role="main">
    <div class="container pb-6">
      <div class="columns is-centered">
        <div class="column is-half">
          {{- block "main" . }}{{- end }}
        </div>
      </div>
    </div>
  </main>
  {{ else }}
  {{- block "main" . }}{{- end }}
  {{ end }}
  {{ partial "site-footer.html" . }}
</body>

</html>
