<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{{ .Site.Title }}</title>
  <meta name="description" content="" />

  <link rel="authorization_endpoint" href="https://hub.tonyburns.net/indieauth/authorize" />
  <link rel="token_endpoint" href="https://hub.tonyburns.net/indieauth/token" />
  <link rel="micropub" href="https://hub.tonyburns.net/micropub" />
  <link rel="microsub" href="https://aperture.p3k.io/microsub/544" />
  <link rel="webmention" href="https://webmention.io/tonyburns.net/webmention" />

  {{ with .Site.Params.favicon }}
  <link rel="shortcut icon" href="/{{.}}" />
  {{ end }}
  {{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "node_modules/bulma" "node_modules/@fortawesome/fontawesome-free/scss")) }}
  {{ $style := resources.Get "css/main.scss" | toCSS $options | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" />
</head>

<body>
  {{ partial "site-header.html" . }}
  {{- block "main" . }}{{- end }}
  {{ partial "site-footer.html" . }}
</body>

</html>