{{ define "main" }}
{{ partial "nav.html" . }}
<main id="main" aria-role="main">
  <div class="container pb-6">
    <div class="columns">
      <div class="column"></div>

      <div class="column is-half">
        {{ $pag := .Paginator 10 }}

        {{ if eq 0 $pag.TotalNumberOfElements }}
        <div class="hero">
          <div class="hero-body">
            <h1 class="subtitle has-text-centered">Nothing to see here yet!</h1>
          </div>
        </div>
        {{ end }}

        {{ if ne 0 $pag.TotalNumberOfElements }}
        {{ range $pag.Pages }}
        <article class="card mb-4 h-entry">
          {{ if isset .Params "photos" }}
          <div class="card-image">
            {{ range first 1 (.Param "photos") }}
            <figure class="image">
              <img class="u-photo" src="{{ .url }}" alt="{{ .alt }}">
            </figure>
            {{ end }}
          </div>
          {{ end }}
          <div class="card-content">
            <div class="media h-entry">
              <figure class="media-left">
                <p class="image is-64x64 u-author h-card">
                  <img class="is-rounded u-photo p-name" src="/img/avatar-square.jpg" alt="Tony Burns" />
                </p>
              </figure>
              <div class="media-content">
                <div class="content e-content">
                  {{- .Content -}}
                </div>

                <div class="content">
                  <div class="level">
                    <div class="level-left">
                      <div class="level-item">
                        <small>
                          <a href="{{ .Permalink }}" class="has-text-dark u-url">
                            <time class="dt-published"
                              datetime="{{ dateFormat "2006-01-02T15:04:05Z07:00" .Date.UTC }}">
                              {{- dateFormat "15:04 MST • Jan 2, 2006" .Date -}}
                            </time>
                          </a>
                        </small>
                      </div>
                    </div>
                    <div class="level-right">
                      {{ if isset .Params "categories" }}
                      <div class="tags">
                        {{ range (.Param "categories") }}
                        <span class="tag">#<span class="p-category">{{ . }}</span></span>
                        {{ end }}
                      </div>
                      {{ end }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
        {{ end }}
        {{ end }}
        {{ partial "pagination.html" . }}
      </div>

      <div class="column"></div>
    </div>
  </div>
</main>
{{ end }}