<article class="card mb-5 h-entry">
  {{ if eq .Type "photos" }}
  <div class="card-image">
    {{ range first 1 (.Param "photos") }}
    <figure class="image">
      <img class="u-photo" src="{{ .url }}" alt="{{ .alt }}">
    </figure>
    {{ end }}
  </div>
  {{ else if isset .Params "featured" }}
  <div class="card-image">
    {{ with .Param "featured" }}
    <figure class="image">
      <img class="u-photo" src="{{ .url }}" alt="{{ .alt }}">
    </figure>
    {{ end }}
  </div>
  {{ end }}
  {{ partial "post-citations.html" . }}
  <div class="card-content">
    {{ if or (ne .Content "") (isset .Params "summary") }}
    <div class="content">
      {{ if eq .Type "articles" }}
      <h1 class="title u-name">
        <a href="{{ .Permalink }}" class="has-text-dark">{{ .Param "name" }}</a>
      </h1>
      {{ end }}
      {{ if isset .Params "summary" }}
      <p class="p-summary">{{ .Param "summary" }}</p>

      <p><a href="{{ .Permalink }}" title="Continue Reading" class="button is-link is-small">Continue
          Reading</a></p>
      {{ else if ne .Content "" }}
      <div class="e-content">
        {{- .Content -}}
      </div>
      {{ end }}
    </div>
    {{ end }}

    {{ partial "post-meta.html" . }}
  </div>
</article>
