<div class="container pt-4 pb-6">
  <div class="columns">
    <div class="column"></div>
    <div class="column is-two-thirds">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <h1 class="title">Tony Burns</h1>
            </a>
          </div>

          <ul class="navbar-end">
            <li class="navbar-item is-size-4"><a class="has-text-dark" href="/articles">Articles</a></li>
            <li class="navbar-item is-size-4"><a class="has-text-dark" href="/notes">Notes</a></li>
            <li class="navbar-item is-size-4"><a class="has-text-dark" href="/photos">Photos</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="column"></div>
  </div>
</div>