<div class="has-background-light mb-6">
  <div class="container has-background-light">
    <div class="columns is-centered">
      <div class="column is-two-thirds">
        <nav class="navbar is-light is-spaced is-transparent" role="navigation" aria-label="main navigation">
          <div class="navbar-brand h-card">
            <a class="navbar-item u-url" href="/">
              <h1 class="has-text-weight-semibold is-size-4 p-name">Tony Burns</h1>
            </a>
          </div>

          <ul class="navbar-end">
            <li class="navbar-item is-size-5"><a class="has-text-dark" href="/articles">Articles</a></li>
            <li class="navbar-item is-size-5"><a class="has-text-dark" href="/notes">Notes</a></li>
            <li class="navbar-item is-size-5"><a class="has-text-dark" href="/photos">Photos</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
