<footer class="footer mt-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-two-thirds">
        <nav class="level">
          <div class="level-item has-text-centered"><a class="has-text-dark has-text-weight-semibold"
              href="/articles">Articles</a>
          </div>
          <div class="level-item has-text-centered"><a class="has-text-dark has-text-weight-semibold"
              href="/notes">Notes</a></div>
          <div class="level-item has-text-centered"><a class="has-text-dark has-text-weight-semibold"
              href="/photos">Photos</a></div>
          <div class="level-item has-text-centered"><a class="has-text-dark has-text-weight-semibold"
              href="/bookmarks">Bookmarks</a></div>
          <div class="level-item has-text-centered"><a class="has-text-dark has-text-weight-semibold"
              href="/likes">Likes</a></div>
          <div class="level-item has-text-centered"><a class="has-text-dark has-text-weight-semibold"
              href="/reposts">Reposts</a></div>
          <div class="level-item has-text-centered"><a class="has-text-dark has-text-weight-semibold"
              href="/rsvps">RSVPs</a></div>
        </nav>
        <div class="content has-text-centered">
          <p class="is-size-7">
            Copyright &copy; 2020 Anthony Burns
            <br>
            <a href="https://github.com/craftyphotons/tonyburns.net/tree/main/content">Content</a> licensed <a
              href="https://creativecommons.org/licenses/by-sa/4.0/" rel="license">CC BY SA 4.0</a>.
            <a href="https://github.com/craftyphotons/wilson">Source
              code</a> licensed <a href="https://opensource.org/licenses/mit-license.php">MIT</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
