{{ define "main" }}
{{ partial "nav.html" . }}
<main id="main" aria-role="main">
  <div class="container pb-6">
    <div class="columns is-centered">
      <div class="column is-half">
        {{ $pag := .Paginator 10 }}

        {{ if eq 0 $pag.TotalNumberOfElements }}
        <div class="hero">
          <div class="hero-body">
            <h1 class="subtitle has-text-centered">Nothing to see here yet!</h1>
          </div>
        </div>
        {{ end }}

        {{ if ne 0 $pag.TotalNumberOfElements }}
        {{ range $pag.Pages }}
        <article class="h-entry mb-6">
          <div class="columns">
            <div class="column is-three-fifths">
              <div class="content">
                <h1 class="title u-name"><a href="{{ .Permalink }}" class="has-text-dark u-url">{{ .Param "name" }}</a>
                </h1>
                <p>{{ .Param "summary" }}</p>
              </div>

              <div class="media">
                <div class="media-content">
                  <div class="content">
                    <div class="level">
                      <div class="level-left">
                        <div class="level-item">
                          <small>
                            <time class="dt-published"
                              datetime="{{ dateFormat "2006-01-02T15:04:05Z07:00" .Date.UTC }}">
                              {{- dateFormat "Jan 2, 2006" .Date.Local -}}
                            </time>
                          </small>
                        </div>
                      </div>
                      <div class="level-right">
                        {{ if isset .Params "categories" }}
                        <div class="tags">
                          {{ range (.Param "categories") }}
                          <span class="tag">#<span class="p-category">{{ . }}</span></span>
                          {{ end }}
                        </div>
                        {{ end }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-two-fifths">
              {{ if isset .Params "featured" }}
              {{ with .Param "featured" }}
              <figure class="image">
                <img class="u-photo" src="{{ .url }}" alt="{{ .alt }}">
              </figure>
              {{ end }}
              {{ end }}
            </div>
          </div>
        </article>
        {{ end }}
        {{ end }}
        {{ partial "pagination.html" . }}
      </div>
    </div>
  </div>
</main>
{{ end }}
