{{ define "title" }}{{ .Title }} | {{ .Site.Title }}{{ end }}

{{ define "post-meta" }}
<meta name="description" content="{{ .Param "metadata.description" }}">
<meta property="og:url" content="{{ .Param "metadata.og_url" }}">
<meta property="og:title" content="{{ .Param "metadata.og_title" }}">
<meta property="og:description" content="{{ .Param "metadata.og_description" }}">
<meta property="og:image" content="{{ .Param "metadata.og_image" }}">
<meta property="og:image:height" content="{{ .Param "metadata.og_image_height" }}">
<meta property="og:image:width" content="{{ .Param "metadata.og_image_width" }}">
<meta property="og:type" content="{{ .Param "metadata.og_type" }}">
<meta property="og:locale" content="{{ .Param "metadata.og_locale" }}">
<meta name="twitter:card" content="{{ .Param "metadata.twitter_card" }}">
<meta name="twitter:site" content="{{ .Param "metadata.twitter_site" }}">
<meta name="twitter:site:id" content="{{ .Param "metadata.twitter_site_id" }}">
<meta name="twitter:creator" content="{{ .Param "metadata.twitter_creator" }}">
<meta name="twitter:creator:id" content="{{ .Param "metadata.twitter_creator:id" }}">
<meta name="twitter:description" content="{{ .Param "metadata.twitter_description" }}">
<meta name="twitter:title" content="{{ .Param "metadata.twitter_title" }}">
<meta name="twitter:image" content="{{ .Param "metadata.twitter_image" }}">
<meta name="twitter:image:alt" content="{{ .Param "metadata.twitter_image_alt" }}">
<meta name="twitter:image:height" content="{{ .Param "metadata.twitter_image_height" }}">
<meta name="twitter:image:width" content="{{ .Param "metadata.twitter_image_width" }}">
{{ end }}

{{ define "main" }}
<article class="h-entry">
  <div class="content e-content">
    <header class="mb-6">
      <h1 class="u-name">{{ .Param "name" }}</h1>

      <div class="media">
        <div class="media-content">
          <div class="content">
            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  <small>
                    <time class="dt-published" datetime="{{ dateFormat "2006-01-02T15:04:05Z07:00" .Date.UTC }}">
                      {{- dateFormat "Jan 2, 2006" .Date.Local -}}
                    </time>
                  </small>
                </div>
              </div>
              <div class="level-right">
                {{ if isset .Params "categories" }}
                <div class="tags">
                  {{ range (.Param "categories") }}
                  <span class="tag">#<span class="p-category">{{ . }}</span></span>
                  {{ end }}
                </div>
                {{ end }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    {{ if isset .Params "featured" }}
    {{ with .Param "featured" }}
    <figure class="image">
      <img class="u-photo" src="{{ .url }}" alt="{{ .alt }}">
    </figure>
    {{ end }}
    {{ end }}

    <div class="e-content">
      {{- .Content -}}
    </div>
  </div>
</article>
{{ end }}
